<%- include("partials/header") -%>
<%- include("navbar") -%>

<!-- login for users -->

<main class="form-signin w-100 m-auto">
    <div class="d-flex justify-content-between py-3 border-bottom">
        <a href="/alogin" class="btn btn-sm mr-5 px-5 btn-outline-secondary">Admins</a>
        <a href="/slogin" class="btn btn-sm mr-5 px-5 btn-outline-secondary">Students</a>
    </div>
</main>

<%- include("partials/footer") -%>