<%- include("partials/header") -%>

<!-- login for users -->

<main class="form-signin w-100 m-auto">
    <form action="/login" method="post">
      <img class="mb-4 rounded" src="/img/robot.jpeg" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
  
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="Tech solution" name="name">
        <label for="floatingInput">User name</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
        <label for="floatingPassword">Password</label>
      </div>
      <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-body-secondary"><%= message %></p>
    </form>
  </main>

<%- include("partials/footer") -%>