<%- include("partials/header") -%>

<!-- login for students -->

<main class="form-signin w-100 m-auto">
    <form action="/slogin" method="post">
        <%- include("login") -%>
    </form>
</main>

<%- include("partials/footer") -%>